# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
.venv/
ENV/

# Environment variables
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS files
.DS_Store

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Streamlit cache
.streamlit/

# Logs
*.log
logs/

# Misc
*.bak
*.swp
*.tmp
